@media only screen and (max-width: 992px){
    .subtitle{
        font-size: 12px;
    }

    header nav .toggler, header nav .nav-toggler{
        display: block;
    }

    header nav .menu #search-toggle-checkbox {
        right: 115px;
    }

    header nav .menu form {
        width: calc(100vw - 160px);
        right: 145px;
    }

    header nav .menu form input {
        width: calc(100% - 90px);
    }

    header nav .nav-toggler{
        background-image: url(imgs/icons/hamburger.png);
    }

    header nav #cart-toggler-checkbox{
        right: 60px;
    }

    header nav #nav-toggler-front{
        z-index: 4;
    }

    header nav ul#links-container {
        position: fixed;
        right: 0;
        z-index: 4;
        top: 0;
        transform: scaleX(0);
        transform-origin: right;
        background: #f3f3f3;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
        min-width: 200px;
        transition: .5s;
        height: 100vh;
        justify-content: center;
    }

    header nav #nav-toggler-checkbox:checked ~ #links-container{
        transform: scale(1);
    }

    header nav #nav-toggler-checkbox:checked ~ #nav-toggler-front{
        background-image: url(imgs/icons/close.png);
    }

    .banner .banner-wrap .banner-left{
        flex-basis: 50%;
    }

    .banner .banner-wrap .banner-right{
        flex-basis: 50%;
        height: 400px;
    }

    .banner .banner-wrap .banner-left h1 {
        font-size: 2em;
    }

    .banner .banner-wrap .banner-left p {
        font-size: 14px;
        margin: 20px 0;
    }

    .banner .banner-wrap .banner-left a {
        font-size: 15px;
        padding: 10px 30px;
    }

    .sponsor{
        gap: 20px 30px;
    }
    
    .collection .collection-wrap h3{
        font-size: 22px;
    }

    .collection .collection-wrap h4{
        font-size: 17px;
    }

    .featured-products .fp-right{
        padding-left: 20px;
    }

    .featured-products .fp-right h3{
        font-size: 22px;
    }

}

@media only screen and (max-width: 768px){
    .banner .banner-wrap .banner-left h1 {
        font-size: 1.5em;
    }

    .banner .banner-wrap .banner-left p {
        font-size: 13px;
        margin: 15px 0;
    }

    .banner .banner-wrap .banner-left a {
        font-size: 13px;
        padding: 5px 20px;
    }

    .banner .banner-wrap .banner-right{
        height: auto;
    }

    .collection .collection-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .featured-products .fp-left,
    .featured-products .fp-right{
        flex-basis: 100%;
        margin: 10px 0;
    }
    
    .featured-products .fp-right{
        padding: 0 10px;
    }
}

@media only screen and (max-width: 576px){
    header .logo, header .menu{
        flex-basis: 100%;
        text-align: center;
    }

    header nav .menu{
        max-width: 200px;
    }

    header, footer, section{
        padding: 30px 0;
    }

    header nav.flex {
        justify-content: center;
        gap: 20px;
    }

    header nav #cart-toggler-checkbox {
        right: 80px;
    }

    header nav .menu #search-toggle-checkbox {
        right: 165px;
    }

    header nav .menu form {
        width: calc(100vw - 210px);
    }

    header nav .menu form {
        width: 275px;
        right: -60px;
        top: -52px;
    }

    header nav .cart{
        right: -50px;
        max-width: 300px;
    }

    .banner .banner-wrap{
        justify-content: center;
        width: 350px;
        text-align: center;
        margin: 20px auto;
        gap: 50px;
    }
    
    .banner .banner-wrap .banner-left{
        flex-basis: 100%;
    }
    
    .banner .banner-wrap .banner-right{
        background-position: center;
        flex-basis: 100%;
    }

    .collection .collection-wrap{
        grid-template-columns: 1fr;
        max-width: 350px;
        margin: auto;
    }
}